django
pillow
mysqlclient
djangorestframework-jwt
django-import-export
djangorestframework
django-bootstrap-form
markdown
django-filter
django-crispy-forms
django-reversion
django-formtools
future
httplib2
six
pymysql